[submodule "bundle/vim-bbye"]
	path = bundle/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-cljfmt"]
	path = bundle/vim-cljfmt
	url = https://github.com/venantius/vim-cljfmt.git
